<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.acme.parse" level="INFO"/>

    <springProfile name="dev,local,debug">
        <logger name="org.acme.parse" level="DEBUG"/>
    </springProfile>
</configuration>
